# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# MacOS
.DS_Store

# Test/log/data folders (pas aan op je project!)
data/
logs/

# Environment files
.env
.env.*

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# SQLite DBs (indien je die gebruikt)
*.db
